# Django Core and Server
Django==5.2.4
gunicorn==23.0.0

# Django Apps & Frameworks
djangorestframework==3.16.0
django-filter==25.1
Pillow==11.3.0
django-ratelimit==4.1.0

# Static Files and Performance
whitenoise==6.9.0
django-compressor==4.5.1
rcssmin==1.1.2
rjsmin==1.2.2

# API Communication
requests==2.32.3

# Development
django-debug-toolbar==5.2.0

# Dependencies (usually installed automatically by other packages)
asgiref==3.9.1
django-appconf==1.1.0
packaging==25.0
sqlparse==0.5.3
tzdata==2025.2
