{% extends 'persinfo/base.html' %}

{% block meta_description %}{{ project.description|striptags|truncatewords:25 }}{% endblock %}

{% block title %}{{ project.title }} - Project Details{% endblock %}

{% block content %}

<section class="section">
  <div class="project-details">
    <h2>{{ project.title }}</h2>
    <p>{{ project.description|linebreaksbr }}</p>
    <p><strong>Technologies Used:</strong> {{ project.technologies }}</p>
    {% if project.github_link %}
      <p><a href="{{ project.github_link }}" target="_blank" class="btn-link">View on GitHub</a></p>
    {% endif %}
    {% if project.live_link %}
      <p><a href="{{ project.live_link }}" target="_blank" class="btn-link">Live Demo</a></p>
    {% endif %}
  </div>

  <div class="project-navigation">
    {% if prev_project %}
      <a href="{% url 'persinfo:project_detail' prev_project.id %}" class="btn">&larr; Previous Project</a>
    {% else %}
      <span></span> {# Empty span for alignment purposes #}
    {% endif %}
    <a href="{% url 'persinfo:projects' %}" class="btn">All Projects</a>
    {% if next_project %}
      <a href="{% url 'persinfo:project_detail' next_project.id %}" class="btn">Next Project &rarr;</a>
    {% endif %}
  </div>
</section>
{% endblock %}
